body{
    /* text-align: left; */
    text-align: center;
    background-image: url("tree.jpg");
    background-size: cover;
    background-repeat: no-repeat;
   
}

h1 {
  text-align: center;
  animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1000);
}

a:hover {
    background-color: rgba(0, 162, 255, 0.568);
    text-decoration-style:dotted;
    font-size: x-large;
  }

h1:hover {
    background: #e1e1e100;
    border: 10px solid #1a047c5e;
    color: #000;
                                                
}

a:visited {
    color: blue;
  }

a:active {
color: yellow;
}

p {
  animation: slidein 4.5s, flipp 4s;
}


@keyframes slidein {
  from {
    margin-left: 100%;
    width: 1000%;
  }

  to {
    margin-left: 0%;
    width: 100%;
    text-align: center;
    /* transition-delay: 2000ms;
    animation-duration: 1000ms; */
  }
}

@keyframes flipp {
  from {
    transform: rotate(0);

  }

  to {
    transform: rotate(360deg);

  }
}