body{
    /* text-align: left; */
    text-align: center;
    background-image: url("tree.jpg");
    /* background-size: cover; */
    background-repeat: no-repeat;
    background-size:100%;
   
}

h1 {
  text-align: center;
  /* animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1000); */
  transition-duration: 3s; transform: translateY(-20px); transform: scale(100%);
}

/* a:hover {
    background-color: rgba(0, 162, 255, 0.568);
    text-decoration-style:dotted;
    font-size:33px;
  } */

h1:hover {
    animation: hopupdown 0.5s, hopdownup 0.5s 0.5s, hopupdown 0.5s 1s, hopdownup 0.5s 1.5s, flippy 1s 2s, headerscaleup 2s 3s;
    background: #e1e1e100;
    /* border: 10px solid #1a047c5e; */
    transition-duration: 5s; transform: scale(200%);
    color: #000;
    /* box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.808), 0 17px 50px 0 rgb(0, 0, 0); */

                                                
}
@keyframes hopupdown {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(-30px);
  }
}
@keyframes hopdownup {
  from {
    transform: translateY(-30px);
  }
  to {
    transform: translateY(0px);
  }
}
@keyframes headerscaleup {
  from {
    transform: translateY(0px);
    transform: scale(100%);
  }
  to {
    transform: translateY(-20px);
    transform: scale(200%);
  }
}
@keyframes flippy {
  from {

    transform: rotate(0deg);
  }
  to {

    transform: rotate(360deg);
  }
}
a:visited {
    color: blue;
  }

a:active {
color: yellow;
}

p {
  animation: slidein 4.5s, flipp 4.2s;
}

@keyframes slidein {
  from {
    margin-left: 100%;
    width: 100%;
  }

  to {
    margin-left: 0%;
    width: 100%;
    text-align: center;
    /* transition-delay: 2000ms;
    animation-duration: 1000ms; */
  }
}

@keyframes flipp {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes expand {
  from {
    transform: scale(100%);
  }
  to {
    transform: scale(200%);
    
  }
}
@keyframes spin { 
  0% { 
      transform: rotate(-180deg);
  } 
  100% {
      transform: rotate(0deg);
  }
}

@keyframes scale {
  100% {
       transform: scale(1%);
  }
}
@keyframes scale2 {
  from{
       transform: scale(1%);
  }
  to {
    transform: scale(200%)
  }
}
@keyframes ccolor {
  from {
    color: #f5eeee;
  }
  to {
    color: rgba(0, 0, 0, 0.527);
  } 
}
@keyframes ccolor2 {
  from {
    color: rgba(0, 0, 0, 0.527);
  }
  to {
    color: #f5eeee;
  }
}

.button2 {
  animation: spin 1s; 
  animation: scale2  3s, ccolor2 5s, ccolor 2s 5s;
  /* animation: color 3s; */
  transition-duration: 1.5s; transform: translateY(6px); transform: scale(200%);
  background-color: #b403033a; /* Green */
  border: none;
  color: rgba(0, 0, 0, 0.527);
  padding: 15px 5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 33px;
  font: message-box;
  position: absolute;
  margin-top: 580px;
  margin-left: 32px;
  /* animation-name: glow; animation-iteration-count: 1; animation-delay: 1.2s;  */

  /* border: 2px solid #4CAF50; Green */
}


.button2:hover {
  background-color: #3a3a3a33; /* Green */
  color: #f5eeee;
  padding: 15px 15px;
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.808), 0 17px 50px 0 rgb(0, 0, 0);
  /* transition-duration: 1s; transform: translateY(50px); */
  transition-duration: 1s; transform: translateY(-6px); transform: scale(300%); 
  /* transition-duration: 2s; transform: rotate(360deg); */
}


.button2:active {
  background-color: #3a3a3a33; /* Green */
  color: #000000;
  padding: 15px 15px;
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0), 0 17px 50px 0 rgba(0, 0, 0, 0);
}

.img {
  transition-duration: 1s; transform: scale(100%);
  max-width: 33%;
  height: auto;
  margin-top: 260px;
  margin-left: -10px;
  opacity: 0.0;
  border-radius: 144px;

}

.img:hover {
  animation: spinning 4s;
}

.img2 {
  max-width: 7%;
  height: auto;
  opacity: 0.3;
  animation: expshrink 2s 2s, shrinkexp 2s;
  animation-iteration-count: infinite;
  border-radius: 111px;

}

@keyframes expshrink {
  from {
    transform: scale(1);
    opacity: 0;
  }
  to {
    opacity: 1;
    transform: scale(4);
  }
  
}
@keyframes shrinkexp {
  100%{
    opacity: 0.0;
    transform: scale(1);
  }
   
}

@keyframes glow {
  0% {
    color: rgba(0, 0, 0, 0.527);
  }
  5% {
    color: #a1a1a186;
  }
  10% {
    color: #c0c0c086;
  }
  100% {
    color: #f5eeee;
  }
  
}

@keyframes spinning {
  0% {
    transform: rotate(0);
    opacity: 0.3;
  }
  100% {
    transform: rotate(360deg);
    opacity: 0;
  }
}
